<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [leyenda]='leyenda1' [etiquetas]='etiquetas1' [datos]='datos1'></app-grafica>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [leyenda]='leyenda2' [etiquetas]='etiquetas2' [datos]='datos2'></app-grafica>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [leyenda]='leyenda3' [etiquetas]='etiquetas3' [datos]='datos3'></app-grafica>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-grafica [leyenda]='leyenda4' [etiquetas]='etiquetas4' [datos]='datos4'></app-grafica>
            </div>
        </div>
    </div>

</div>